[project]
name = "chai-django"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "django>=6.0",
    "django-tailwind[reload]>=4.4.2",
    "pillow>=12.0.0",
]
